<!DOCTYPE html>
<html>
  <head>
    <title>PPoker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if task_creator_signed_in? %>
      <li>
        <%= link_to 'Home', task_creator_home_path %>
      </li>
      <li>
      <%= link_to('Logout', destroy_task_creator_session_path, method: :delete) %>
      </li>
    <% else %>
      <li>
      <%= link_to('Login', new_task_creator_session_path)  %>
      </li>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
